<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center chapter-header">
                <h2>Our Chapter</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="row justify-content-center">
                    <h2 style="padding: 2rem; font-weight: 600;">About Us</h2>
                    <p style="text-align: center; font-size: 18px;">The Northeastern Associate Chapter of Pi Kappa Phi
                        was
                        founded in early
                        2019 and has since grown to
                        69 initiated brothers.
                        We are a self-governed, social fraternity which prides itself on its commitment to the community
                        and
                        philanthropic endeavors.
                        Much of our efforts are directed at our national philanthropic foundation, The Ability
                        Experience,
                        which creates experiences that
                        promote the abilities of all people and works to eliminate labels that have unfairly come to
                        define
                        others.
                        We also participate in many community service and fundraising initiatives, such as the annual
                        Relay for Life fundraiser and other smaller events on campus.
                    </p>
                    <a href="/about" class="btn btn-lg btn-primary" style="font-size: 1.5rem; padding: 1rem;">Learn
                        More</a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="mission-statement-img" src="img/aditya-pkp.png">
            </div>
        </div>
        <div class="row about-row">
            <div class="col-md-8 d-flex justify-content-center align-items-center">
                <img class="" src="img/pkp-mission-statement.png">
            </div>
            <div class="col-md-4 d-flex justify-content-md-around align-items-center">
                <div class="row d-flex flex-column">
                    <a href="https://pikapp.org/" target="_blank" class="btn btn-lg btn-outline-light" style="font-size: 1.5rem; padding: 1.5rem;">Our National Organization</a>
                    <a href="https://hugh-ferguson.com" target="_blank" class="btn btn-lg btn-primary mt-4" style="font-size: 1.5rem; padding: 1.5rem;">Letter
                        to
                        the Parents</a>
                </div>
            </div>
        </div>
    </div>
</section>