<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center chapter-header">
                <h2>Our Chapter</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>We are a chapter founded on __, __, and __. Pi Kappa Phi is the newest chapter to join greek life at Northeastern.
                    We established our charter in the Spring of 2019, and have been working hard to establish foundational
                    values and practices that will leave our chapter as one of the best in the Greek community.</p>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-parent">
                    <img class="mission-statement-img" src="/img/pkp-mission-statement.png">
                </div>
            </div>
        </div>
        <div class="row about-row-2">
            <div class="col-md-8 col-lg-offset-2 text-center">
                <a href="https://hugh-ferguson.com" class="btn btn-lg btn-outline">Letter to the Parents</a>
            </div>
        </div>
    </div>
    </div>
</section>