<!-- Header -->
<header>
    <div class="row">
        <div class="col-md-12 header-row">
            <div class="container header-container">
                <div class="row header-row">
                    <div class="col-lg-12 main-img-container">
                        <div class="main-header-logo-container">
                            <div class="main-header-logo"><img src="../img/PKP-namestarshield.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="rush-title">Fall Rush 2019</h1>
                <span class="name">
                    <img src="../img/pkp-rush-card.jpg">
                </span>
            </div>
        </div>
    </div>
    </div>
</header>