<section class="rush" style="padding-bottom: 0">
    <div class="container">
        <h1 class="rush-title">Spring Rush 2020</h1>
        <div class="rush-page-row row pt-5">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <img class="img-responsive" src="{{ "/img/rush-card-events-s20.jpeg" | prepend: site.baseurl }}">
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <img class="img-responsive" src="{{ "/img/rush-card-design-s20.jpeg" | prepend: site.baseurl }}">
            </div>
        </div>
        <div class="rush-page-row row pt-5">
            <!-- <p style="color: black">At this time, we have concluded our 2019 Fall rush. Spring rush events will be posted as they become available.</p> -->
        </div>
    </div>
</section>