<section>
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <h1 class="rush-title">Spring Rush 2020</h1>
        </div>
        <div class="row pt-3 d-flex justify-content-center">
            <img class="img-responsive" src="/img/pkp-rush-card.jpg">
        </div>
        <div class="rush-page-row row pt-3">
            <!-- <p style="color: black">At this time, we have concluded our 2019 Fall rush. Spring rush events will be posted as they become available.</p> -->
        </div>
    </div>
</section>