<section class="rush" style="padding-bottom: 0;">
    <div class="container">
        <h1 class="rush-title">Spring Rush 2020</h1>
        <div class="rush-page-row row" style="padding-top: 20px;">
            <span class="name">
                <img src="img/pkp-rush-card.jpg">
            </span>
        </div>
        <div class="rush-page-row row" style="padding-top: 20px;">
            <!-- <p style="color: black">At this time, we have concluded our 2019 Fall rush. Spring rush events will be posted as they become available.</p> -->
        </div>
    </div>
</section>