<section>
    <div class="container" style="padding-top: 50px;">
        <div class="row">

            <h1 class="rush-title">Spring Rush 2020</h1>
        </div>
        <div class="rush-page-row row pb-5">
            <div class="d-flex align-items-center justify-content-center pt-5">
                <a role="button" style="font-size: 2rem;" class="btn btn-primary btn-lg btn-block" target="_blank"
                    href="https://www.facebook.com/groups/2567395486827765/?hc_ref=ARQjeNqKyDKJUHDX8Xq3gRUCaThKBOp7UbTOVI-1rcLigw7NFT4yf3vv4JYy_iWjzTI">Join
                    the Facebook Group!</a>
            </div>
        </div>
        <div class="row pt-3 d-flex justify-content-center">
            <div class="col-sm-5 d-flex justify-content-center align-items-center">
                <img class="img-responsive" src="{{ "/img/rush-card-events-s20.jpeg" | prepend: site.baseurl }}">
            </div>
            <div class="col-sm-1 1-flex justify-content-center align-items-center">
            </div>
            <div class="col-sm-5 d-flex justify-content-center align-items-center">
                <img class="img-responsive" src="{{ "/img/rush-card-design-s20.jpeg" | prepend: site.baseurl }}">
            </div>
        </div>
        <div class="rush-page-row row pb-5">
            <div class="d-flex align-items-center justify-content-center pt-5">
                <a role="button" style="font-size: 2rem;" class="btn btn-lg btn-outline-dark btn-block"
                    href="/contact">Contact us for more information</a>
            </div>
        </div>
    </div>
</section>